sniffio
jupyter
opencv-python-headless
matplotlib
scikit-learn
pandas
albumentations
torch 
torchvision 
torchaudio
super-gradients
Pillow==9.3.0
segmentation-models
tensorflow==2.12
numpy==1.23
protobuf==3.20.3
prettyformatter
mlflow